<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
  <link href="/doctor/img/favicon.png" rel="icon">
  <link href="/doctor/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/doctor/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/doctor/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/doctor/css/style.css" rel="stylesheet">
  <link href="/doctor/css/style-responsive.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="css/to-do.css"> -->

</head>

<body>

  <%- include ('../partials/header') %>
  <%- include ('../partials/sidebar') %>

  <section id="main-content">
    <section class="wrapper">
      <div class="row mt mb">
        <div class="col-lg-12">
          <div class="row content-panel" style="font-size:13px;">
            <div class="col-md-4 profile-text mt mb centered">
              <div class="right-divider hidden-sm hidden-xs">
                <h4><%=appointment.date %></h4>
                <h6>DATE</h6>
                <h4><%= appointment.scheduled_time %></h4>
                <h6>SCHEDULED TIME</h6>
                <h4><%= appointment.patient_number %></h4>
                <h6>PATIENT NUMBER</h6>
              </div>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 profile-text">
              <h3><%= patient.patient_name %></h3>
              <h6 style="font-size:18px"><%= patient.age %> years old</h6>
              <p>Patient Id: <%= patient.patient_id%></p>
              <p style="margin-bottom:0px;">Address: <%= patient.street%>, <%= patient.city%></p>
              <br>
              <p>
                <div class="btn-group">
                  <button type="button" class="btn btn-theme03"><%= appointment.status %></button>
                  <button type="button" class="btn btn-theme03 dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:void(0)" class="statusLabel">created</a></li>
                    <li><a href="javascript:void(0)" class="statusLabel">missed</a></li>
                    <li><a href="javascript:void(0)" class="statusLabel">completed</a></li>
                  </ul>
                </div>
              </p>
            </div>
            <div class="col-md-4 centered">
              <div class="profile-pic">
                <p><img src="/doctor/img/ui-sam.jpg" class="img-circle"></p>
                <p>
                  <a href=<%=`/doctor/appointment/${appointment.appointment_id}/diagnosis/new`%> class="btn btn-theme">Add Diagnosis</a>
                  <!-- <a class="btn btn-theme02">Recommend Test</a> -->
                </p>
              </div>
            </div>

          </div>
          <!-- /row -->
        </div>

        <div class="col-lg-12 mt">
          <div class="row content-panel">
            <div class="panel-heading">
              <ul class="nav nav-tabs nav-justified">
                <li class="active">
                  <a data-toggle="tab" href="#overview">Diagnoses</a>
                </li>
              </ul>
            </div>
            <!-- /panel-heading -->
            <div class="panel-body">
              <div class="tab-content">
                <div id="overview" class="tab-pane active">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                      <div class="detailed mt">
                        <div class="recent-activity">
                          <% diagnoses.forEach(diagnosis => { %>
                          <a href=<%= `/doctor/appointment/${appointment.appointment_id}/diagnosis/${diagnosis.diagnosis_id}` %>>
                            <div class="activity-panel">
                              <div>
                                <h5><%= diagnosis.diagnosis_type.toUpperCase() %></h5>
                                <h5 style="float:right;"><%= diagnosis.date %></h5>
                              </div>
                              <p>Doctor: <%= diagnosis.doctor_name %> - <%= diagnosis.doctor_type %></p>
                            </div>
                          </a>
                          <br>
                          <% }) %>
                        </div>
                        <!-- /recent-activity -->
                      </div>
                      <!-- /detailed -->
                    </div>
                    <!-- /col-md-6 -->
                    <div class="col-md-2"></div>
                    <!-- /row -->

                    <!-- /col-md-6 -->
                  </div>
                  <input type="hidden" id="appId" value=<%= `${appointment.appointment_id}` %>

                  <!-- /OVERVIEW -->
                </div>
                <!-- /tab-pane -->
                
                <!-- /tab-pane -->
                
                <!-- /tab-pane -->
              </div>
              <!-- /tab-content -->
            </div>
            <!-- /panel-body -->
          </div>

        </div>
    </section>
    <%- include ('../partials/footer') %>
    <script src="/doctor/js/status.js"></script>
</body>

</html>